@using App.ViewModels
@model App.ViewModels.TableSchemeViewModel

@{
    ViewBag.Title = $"TableScheme: {Model.Name}";
}

<h2>@Model.Name</h2>

@{
    TableNavigationPanelViewModel viewModel = new TableNavigationPanelViewModel
    {
        DbName = Model.DbName,
        TableName = Model.Name
    };

    Html.RenderPartial("TableNavigationPanel", viewModel);
}

<table class="table table-bordered table-responsive table-striped">
    <thead>
    <tr>
        <th>Attribute</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var attribute in Model.Attributes)
    {
        <tr>
            <td>@attribute.Name</td>
            <td>@attribute.Type</td>
        </tr>
    }
    </tbody>
</table>