@model Domain.Models.TableScheme

@{
    ViewBag.Title = "ShowTableScheme";
}

<h2>@Model.Name</h2>

<ul class="nav nav-pills">
    <li class="active" role="presentation">
        <a href="#">Browse</a>
    </li>
    <li role="presentation">
        <a href="#">Scheme</a>
    </li>
</ul>

<table class="table table-bordered table-responsive table-striped" style="margin: 10px 0 0;">
    <thead>
    <tr>
        <th>Attribute</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var attribute in Model.Attributes)
    {
        <tr>
            <td>@attribute.Name</td>
            <td>@attribute.Type</td>
        </tr>
    }
    </tbody>
</table>